<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema Ironhack</title>
    <img src="../public/images/cinema.jpg" alt="back-ground-image" />
</head>
<body>
  <button onclick="window.location.href='/movies';">Check the movies!</button>  
</body>
</html>